.document-main-container{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5px;
    width: 80%;
    margin: 10px auto;
    height: 1000px;
}

.document-container{
    grid-column-start: 1;
}

.comment-container{
    grid-column-start: 2;
    background: rgba(180,180,180, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.admin{
    background-color: rgba(52,199,89, 0.8);
    color: black;
    border-radius: 10px;
    padding: 8px;
    margin: 3px;
    width: 90%;
}

.owner{
    background-color: rgba(90,200,250,0.8);
    color: white;
    border-radius: 10px;
    padding: 8px;
    margin: 3px 0 3px auto;
    width: 90%;
}

.comment-bubble p{
    margin: 0;
}
.comment-message{
    margin-bottom: 5px;
}

.owner > .comment-time{
    text-align: right;
}

.new-comment{
    position: absolute;
    bottom: -60px;
    display: flex;
}

.new-comment button{
    padding: 2px 20px;
    border-radius: 10px;
    height: 50px;
    margin: auto 0;
}

.new-comment textarea{
    width: 240px;
    height: 100px;
    padding: 5px;
    border-radius: 10px;
}