.footer{
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #1a1a1a !important;
    width: 100vw;
    height: 6em;
    overflow: hidden;
    margin-top: 6em;
}

.footer h3{
    color: white;
}

.footerlogo-wrapper{
    width: 10em;
    margin: 5px auto;
}

.footerlogo-wrapper img{
    max-width: 100%;
}