.footer{
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #343a40;
    width: 100vw;
    height: 3em;
    overflow: hidden;
    margin-top: 6em;
}

.footer h3{
    color: white;
}