nav {
    background-color: rgba(100, 100, 100, 0.8);
    display: grid;
    grid-template-columns: 1fr 1fr 1f;
    grid-template-rows: 5em;
    overflow: hidden;
}
nav ul {
    margin-left: 70px;
    list-style: none;
    white-space: nowrap;
}

nav ul li {
    display: inline-block;
    font-size: 1.5em;
    margin-left: 2%;
    margin-right: 2%;
}

nav ul li a:hover {
    border-bottom: 1px solid black;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.nav-left {
    margin: auto 10px;
    height: 100%;
    grid-column-start: 1;
    display: grid;
    grid-template-columns: 4em auto;
}

.nav-center {
    height: 100%;
    grid-column-start: 2;
}


.nav-right {
    margin: auto 0px;
    height: 100%;
    grid-column-start: 3;
}

.logo {
    grid-column-start: 1;
    height: 4em;
    width: 8em;
    margin: auto 20px;
}
.logo img {
    max-width: 100%;
    max-height: 100%;
}
