/* .filter-selector{
    width: 8em;
    height: 4em;
    background: grey;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    margin: 5px;
} */

/* .filter-selector:hover{
    cursor: pointer;
} */

.filters {
    margin: 1em 0;
    padding-left: 1.5em;
    font: bold 2em helvetica;
    display: inline-block;
}
.filters li {
    display:inline-block;
    margin-right: 1em;
    line-height: 1.5;
    text-transform: capitalize;
}

#filterlist{
    background: rgba(91, 93, 97,1);
    margin: 0 auto;
}

#filteritem{
    border: 1px solid white;
    margin: 0 auto;
}