.application-board{
    width:80%;
    height: 1000px;
    margin: 1em auto;
    text-align: center;
    border-radius: 10px;
    background: rgba(91, 93, 97,1);
}

.table-title{
    background: #343a40;
    width:100;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.table-title h1{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 32px;
    padding: 0.5em;
    color:white;
}