.newAppModal{
    position: absolute;
    top: 7.5%;
    left: 30%;
    margin: 0 auto;
    width: 40%;
    height: 85%;
    background: rgba(100,100,100,1);
    text-align: center;
    border-radius: 10px;
}

.newAppModal textarea{
    width: 250px;
    height: 200px;
    padding: 10px 2px;
    border-radius: 5px;
}

.newAppModal input{
    display: block;
    margin: 0 auto;
}

.newAppModal h2{
    margin: 10px 0px 3px 0px;
}

.newAppModal input{
    padding: 10px 2px;
    border-radius: 5px;
}

.btn-modal-newapp{
    display:block;
    margin: 5px auto;
    padding: 10px 40px;
    border-radius: 5px;
}

.company-logo-modal{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    background: black;
}

.company-logo-modal img{
    border-radius: 50%;
}

.modal-close{
    position: absolute;
    top:-25px;
    right: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 40px;
}

.hidden{
    display: none;
}

.active{
    background: rgba(56, 248, 78, 0.637)
}

.filters {
    margin: 0.5em 0;
    padding-left: 1.5em;
    font: bold 1em helvetica;
    display: inline-block;
}
.filters li {
    display:inline-block;
    margin-right: 1em;
    line-height: 1.5;
    text-transform: capitalize;
}

.filters input {
    display: none;
}

.filters label:hover {
    cursor: pointer;
    border-bottom: 3px solid black;
}

.filters input:checked + label {
    border-bottom: 3px solid black;
    background: rgba(56, 248, 78, 0.637);
}